.serch_main {
  position: relative;
  margin-bottom: var(--margin-bottom);
  align-content: center;
}

.serch {
  display: flex;
  position: relative;
  justify-content: center;
}

.serch__input {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  padding-left: 75px;
  border: none;
  background-color: rgb(244, 245, 245);
}

.icon__serch {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  color: rgb(212, 217, 219);
  left: 25px;
  top: 20px;
}

.serch__input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: rgb(212, 217, 219);
}

.serch_list {
  position: absolute;
  top: 60px;
  width: 100%;
  height: auto;
  background: rgb(244, 245, 245);
  z-index: 30;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
}

.moim__serch {
  border: 2px solid white;
  margin: 15px 25px 15px 25px;
  border-radius: 15px;
}
