body{
    display:flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
    font-family: 'Nanum Pen Script', cursive;
}

.hidden{
    display: none;
}

#weather{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    font-size:20px;
}

#span1{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius : 5px
}

#clock{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: whitesmoke;
}

#quter{
    display:flex;
    position: absolute;
    flex-direction:column;
    align-items:center;
    text-align:center;
    color: whitesmoke;
    font-size: 45px;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
}

#quter span:first-child{
    margin-bottom: 20px;
}

#todoform{
    margin-top: 30px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: center;
    list-style:none;
    color: whitesmoke;
    border: 0px solid;
}

#todoform input{
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    padding: 10px 25px 10px 25px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
}

#todoform input::placeholder{
    color: whitesmoke;
}

#todolist{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: center;
    list-style:none;
    color: whitesmoke;
    font-size: 30px;
}

#todolist li{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 5px;

}

#todolist li button{
    border: 0px solid;
    background-color:  rgb(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 25px;
    cursor: pointer;
}

#backimggo{
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

